params {
    samples = [:]
    format = 'ngff'
    vendor = null
    image_chunks = null
    label_chunks = null
    validate = false
    validation_format = null
    outdir = 'build'
    report_dir = "${outdir}/reports"
    container = null
}

process {
    withName:OMNISPATIAL_CONVERT {
        publishDir = { params.outdir }
    }

    withName:OMNISPATIAL_VALIDATE {
        publishDir = { params.report_dir }
    }

    if (params.container) {
        container = params.container
    }
}
